.first_bar
  = t('navigation.header.first_bar.ep', :action => t('navigation.sidebar.' + params[:controller].to_s), :user => current_user)
.second_bar
  = t('navigation.header.second_bar.ep_user_settings', :action => t('navigation.sidebar.' + params[:controller].to_s) )
