.first_bar
  = t('navigation.header.first_bar.ec_organizations', :action => t('navigation.sidebar.' + params[:controller].to_s + '.' + params[:action].to_s), :o_name => @organization.name)
.second_bar
  = t('navigation.header.second_bar.ec_organizations', :action => t('navigation.sidebar.' + params[:controller].to_s + '.' + params[:action].to_s), :o_name => @organization.name )
